ion-header {
    height: 58px;
}

ion-content {
    height: 40%;
    --overflow: hidden;
    form {
        ion-item {
            margin-top: 5px;
            margin-bottom: 8px;
        }
        ion-buttons {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 3px;
            margin-top: 3px;
        }
        ion-label {
            margin-bottom: 1px;
        }
    }
}

app-map {
    height: calc(60% - 2*58px);
    width: 100%;
}

ion-footer {
    height: 58px;
}

.location_label {
    margin-left: 15px;
    margin-top: 5px;
}