.margin-write{
    margin-left: -6px;
}

.margin-call {
    margin-left: 0px;
}

ion-item.ion-float-left {
    width: 75%;
    margin-right: 2px;
}

ion-select {
    width: 100%;
    max-width: 100%;
}