.item-footer {
    font-size: 13px;
    padding-top: 3px;
}

.padding-left-5 {
    padding-left: 10px;
}

ion-badge {
    position: absolute;
    z-index: 1;
}

ion-img {
    width: 48%;
    height: 48%;
}
