.item-footer {
    font-size: 13px;
    padding-top: 3px;
}

.padding-left-5 {
    padding-left: 10px;
}

ion-card-title {
    margin-top: 5px;
}

ion-img {
    width: 48%;
    height: 48%;
}

.background-white {
    background-color: rgba(255, 255, 255, 0.98);
}

.margin-distance{
    margin-left: 9px;
}

.margin-meetup {
    margin-left: 4px;
}

.margin-friend {
    margin-left: -8px;
}
