<ion-content class="detail" fullscreen>
  <ion-back-button fill="solid" defaultHref="tabs"></ion-back-button>

  <app-profile-header class="event"
    *ngIf="clickedUser" 
    [user]="clickedUser"
    [buttonsNeeded]="false"
    [friendStatus]=""
    [@slideTopBottom]
  ></app-profile-header>

  <app-map-buttons
    [buttonsNeeded]="false"
    [destination]="event.location"
    (myLocationClickedEvent)="myLocationClicked()"
  ></app-map-buttons>

  <app-event-header
      [event]="event"
      [buttonsNeeded]="true"
      (headerClickedEvent)="headerClicked()"
  ></app-event-header>

  <app-map *ngIf="users"
    [mapType]="'event'"
  ></app-map>

</ion-content>