<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="friends">
      <ion-icon name="people" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon name="calendar" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" size="large"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>