ion-list {
    ion-item {
        ion-label {
            h2 {
                font-weight: 600;
                font-size: 16px;
            }
            div {
                padding-top: 3px;
                ion-icon {
                    float: left;
                    padding-right: 3px;
                }
            }
        }
    }
}

.small-font {
    font-size: 13px;
    padding-left: 22px;
    padding-top: none;
}