ion-content {
    position: relative;
}

ion-back-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8px;
    margin-left: 8px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
}

app-profile-map-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 150px;
    margin-right: 20px;
    z-index: 3;
}

app-profile-header {
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    z-index: 2;
    width: 100%;
}

app-profile-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 95%;
    width: 100%;
    margin-bottom: 30px;
}

  