<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" fullscreen>

  <app-profile-header
    [user]="user"
    [buttonsNeeded]="false"
    [friendStatus]=""
  ></app-profile-header>

  <ion-list>

    <ion-item lines="none">
      <ion-icon class="ion-padding" name="search"></ion-icon>
      <ion-label class="search">Search radius</ion-label>
      <div class="text-align-right" slot="end"><b>{{ user.setting.radius | distance }}</b></div>
    </ion-item>

    <ion-item>
      <ion-range [(ngModel)]="user.setting.radius" min="100" max="20000" step="100" color="secondary">
        <div class="gray" slot="start">100 m</div>
        <div class="gray" slot="end">20 km</div>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-icon class="ion-padding" name="airplane"></ion-icon>
      <ion-label>Travel mode</ion-label>
      <ion-select [(ngModel)]="user.setting.travelMode" interface="popover">
        <ion-select-option value="walking">Walking</ion-select-option>
        <ion-select-option value="driving">Driving</ion-select-option>
        <ion-select-option value="transit">Public transport</ion-select-option>
        <ion-select-option value="byair">By air</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon class="ion-padding" name="notifications"></ion-icon>
      <ion-label>Allow notifications</ion-label>
      <ion-toggle [(ngModel)]="user.setting.notifications" slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon class="ion-padding" name="map"></ion-icon>
      <ion-label>Maps in night mode</ion-label>
      <ion-toggle [(ngModel)]="user.setting.nightMode" slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon class="ion-padding" name="locate"></ion-icon>
      <ion-label>
        <div>{{ locationHeadStr }} <b>{{ locationHeadStatus }}</b></div>
        <div class="item-footer">{{ locationFootStr }}</div>
      </ion-label>
    </ion-item>

    <ion-item href="" (click)="logout()">
      <ion-icon class="ion-padding" name="log-out"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>

  </ion-list>

</ion-content>