<ion-item (click)="selectEvent()" href="">
  <app-date-icon class="ion-no-margin" slot="start"
    [date]="event.time"
  ></app-date-icon>
  <ion-buttons slot="end">
    <ion-button (click)="deleteEvent();$event.stopPropagation();">
      <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>
    <h2>{{ event.name }}</h2>
    <div>
      <ion-icon *ngIf="event.public" size="small" name="eye"></ion-icon>
      <ion-icon *ngIf="!event.public" size="small" name="eye-off"></ion-icon>
      <h3>{{ event.time | date: 'HH:mm' }}</h3>
    </div>
    <p class="small-font">{{ event.peopleCount }} going</p>
  </ion-label>
</ion-item>