ion-item {
    ion-buttons {
        padding-right: 15px;
        z-index: 10;
        margin-left: 0;
    }
    ion-label {
        h2 {
            font-weight: 600;
            font-size: 16px;
        }
        div {
            padding-top: 3px;
            ion-icon {
                float: left;
                padding-right: 4px;
                color: rgb(150, 146, 146);
            }
        }
    }
}

.small-font {
    font-size: 13px;
    padding-top: none;
    padding-left: 23px;
}