<ion-content ion-padding>

  <ion-grid>

    <ion-row class="ion-justify-content-center app-name">
      <ion-col size="8">
        <ion-label>
          <h1>
            Meet Upp
          </h1>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center test-login">
      <ion-col size="8">
        <form (ngSubmit)="testLogin(event)">
          <ion-item>
            <ion-label position="stacked">Enter your email</ion-label>
            <ion-input [(ngModel)]="email" required type="email" name="email" value="sdf"></ion-input>
          </ion-item>
          <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">Test login</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center test-login">
      <ion-col size="8">
          <a (click)="facebookLogin()" class="fb connect">Sign in with Facebook</a>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>