<ion-header #header>
  <ion-toolbar>
    <img class="title-header" src="../../../assets/icon/title_header.png" />
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="tabChanged()" value="friends">
      <ion-segment-button value="friends">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="requests">
        <ion-label>Requests</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen hide-header [header]="header.el" [scrollEvents]="true">
  <app-friends [hidden]="!friendsSelected"></app-friends>
  <app-requests [hidden]="friendsSelected"></app-requests>
</ion-content>