<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="globe" size="small"></ion-icon>
      MeetUpp
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="friendsSelected = !friendsSelected" value="friends">
      <ion-segment-button value="friends">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="requests">
        <ion-label>Requests</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-friends-comp *ngIf="friendsSelected"></app-friends-comp>
  <app-requests *ngIf="!friendsSelected"></app-requests>
</ion-content>